@keyframes breath {
    0%, 100% {
      transform: scale(1.5);
      background-color: #38bdf8; /* exhaleColor */
      box-shadow: 0 0 20px #38bdf8; /* exhaleColor */
    }
    50% {
      transform: scale(2);
      background-color: #4ade80; /* inhaleColor */
      box-shadow: 0 0 20px #4ade80; /* inhaleColor */
    }
  }
  
  .animate-breath {
    animation: breath 6000ms ease-in-out infinite;
  }

  