@tailwind base;
@tailwind components;
@tailwind utilities;

.font-google {
    font-family: 'Inter', sans-serif;
  }

  .ccprimary-blue{
    background-color: '#74BCFF';
  }


.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


#highestEmotion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  text-align: center;
  border-radius: 50%;
  padding: 2rem;
  width: 200px; 
  height: 200px; 
  position: absolute;

}

#highestEmotion h2 {
  font-size: 1.25rem;
  color: #0c4a6e;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

#highestEmotion img {
  width: 5rem;
  height: 5rem;
  margin-top: 1rem;
}

#highestEmotion p {
  color: #4b5563; 
  margin-top: 1rem;
}
